<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.eduwithbe.mappers.StudyMapper">
    <!-- SELECT 결과 Map -->
    <resultMap id="StudyResultMap" type="com.example.eduwithbe.dto.StudyResponseDto">
        <result property="s_no"             column="s_no" />
        <result property="title"            column="title" />
        <result property="contents"         column="contents" />
        <result property="tag"              column="tag" />
        <result property="total_people"     column="total_people" />
        <result property="current_people"   column="current_people" />
        <result property="r_end_date"       column="r_end_date" />
        <result property="s_period"         column="s_period" />
    </resultMap>

    <!-- WHERE 조건 (태그 검색) -->
    <sql id="conditions">
        <where>
            <if test="keyword != null and keyword.equals('') == false">
                tag LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </sql>

    <!-- 스터디 모집글 수 조회 -->
    <select id="count" parameterType="com.example.eduwithbe.paging.CommonParams" resultType="int">
        SELECT
            COUNT(*)
        FROM
            study_recruitment
        <include refid="conditions" />
    </select>

    <!--  스터디 모집글 조회 -->
    <select id="findAll" parameterType="com.example.eduwithbe.paging.CommonParams" resultMap="StudyResultMap">
        SELECT
            s_no,
            title,
            contents,
            tag,
            total_people,
            current_people,
            r_end_date,
            s_period
        FROM
            study_recruitment
        <include refid="conditions" />
        ORDER BY
            s_no DESC
        LIMIT #{pagination.limitStart}, #{recordPerPage}
    </select>

</mapper>